*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main{
  width: 100%;
  height: auto;
  background-color: aliceblue;
}

.container {
  margin: 30px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px;
 
}

.box {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}

.box1 {
  background-image: url('images/6666.PNG');
  background-size: cover;
  background-position: center;
}

.box2 {
  background-image: url('images/444.PNG');
}

.box3 {
  background-image: url('images/82.PNG');
}


.box4 {
  background-image: url('images/322.PNG');
}

.box5 {
  background-image: url('images/333.PNG');
}

.box6 {
  background-image: url('images/sps.PNG');
}

.styleButton {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px;
  padding: 5px 10px; 
  font-size: 25px;   
  width: 40%; 
  height: 60px;  
  background-color: yellow;  
}