*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main{
  width: 100%;
  height: auto;
  background-color: aliceblue;
}

.container {
  margin: 30px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px;
 
}

.box {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  background-size: cover;
  background-position: center;
  
}

.box1 {
  background-image: url('images/dove.jpeg');
}

.box2 {
  background-image: url('images/towel.jpeg');
}

.box3 {
  background-image: url('images/simple.jpeg');
}

.box4 {
  background-image: url('images/toner.jpeg');
}

.box5 {
  background-image: url('images/lip.jpeg');
}

.box6 {
  background-image: url('images/cream.png');
}




.styleButton {
  border-radius: 5px;
  padding: 5px 10px; 
  font-size: 25px;   
  width: 40%; 
  height: 60px;  
  background-color: beige;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}



